<%= bootstrap_form_tag url: "/login" do |f| %>
  <%= f.email_field :email %>
  <%= f.password_field :password %>

  <%= f.submit "Log in" %>
<% end %>
<p>Need to create an account?  <%= link_to "Sign Up", new_user_path %></p>
