<div class="list-group link" data-link-id=<%= link.id %>>
  <div class="list-group-item">
    <div class="list-group-item-text">Title: <%= link.title %></div>
  </div>
  <div class="list-group-item">
    <div class="list-group-item-text">URL: <%= link.url %></div>
  </div>
  <div class="list-group-item">
    <div class="list-group-item-text">Read?: <span class="read-status"><%= link.read %></span></div>
  </div>
  <div class="list-group-item">
    <%= link_to "Edit", edit_link_path(link) %>
    |
    <%= render partial: "read_link", locals: { link: link } %>
  </div>
</div>
