<%= link_to "Sign Out", logout_path, method: :delete %>

<h2>Add new link</h2>

<div id="error-messages"></div>

<%= bootstrap_form_for @link do |f| %>
  <%= f.text_field :url, hide_label: true, placeholder: 'URL' %>
  <%= f.text_field :title, hide_label: true, placeholder: 'Title' %>

  <%= f.submit "Add Link", id: 'add_link', class: 'btn btn-primary' %>
<% end %>

<hr />

<%= link_to "Unread Links Only", "#", class: "unread_only btn btn-default" %>
<%= link_to "Read Links Only", "#", class: "read_only btn btn-default" %>

<hr />

<div id="links">
  <% @links.each do |link| %>
    <%= render partial: 'link', locals: { link: link } %>
  <% end %>
</div>
